<!DOCTYPE html>
<html lang="en">
<head>
  <title>home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="home.css">
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
        <a class="navbar-brand" href="#">
            <img src="CDTI.png" style="height: 70px;">
        </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="boxcon">
        <div class="container">
            <h4>Welcome to : {{ user.name }}</h4>
            {{!-- <button class="btn2" href="/profile" type="submit" >Profile</button> --}}
            <a href="/profile"><button class="btn2" type="submit">Profile</button></a>
            <a href="/grade"><button class="btn2" type="submit">Grade</button></a>
            <a href="/simulation"><button class="btn2" type="submit">Simulation</button></a>
        </div>

        <div class="container2">
            <p>name:</p>
            <p>depmemt</p>
        </div>
    
    </div>
    

    
    


</body>
</html>


