body{
    
    margin: 0;
    background: white;
}
.boxcon  {
    justify-content: space-between;
    display: flex;
}
.container{
    /* display: flex; */
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 0%;
}

.btn2{
    background: #000;
    color: white;
    width: 30rem;
    border-radius: 30px;
    transition: all 0.25s ease;
    font-size: 5rem;
    margin-left: 3rem;
    margin-top: 3rem;
}
.btn2:hover{
    color: yellow;
    transform: translate(-12px, -12px);

}
.btn2:hover::before{
    
    transform: translate(12px, 12px);
    
}
.btn2:hover::after{
    transform: translate(6px, 6px);
    
}

.container2{
    width:65%;
    background: #000;
    

}



