body{
    
    margin: 0;
    background: whitesmoke;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    width: 100%;
  }
  
.dropbtn:hover, .dropbtn:focus {
    color: #fdb095;
    border-radius: 1rem;
    width: 100%;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searching.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    padding-right: 2rem;
    position: relative;
    display: inline-block; 
  
}

.dropdown-content {
    display: none;
    padding-right: 5rem;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 200px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
  
.boxcon  {
    justify-content: space-between;
    display: flex;
}
.form__input{
    font-size: 20px;
    padding-left: 1rem;
    border-radius: 2rem;

    
}
.container{
    width: 600px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 0%;
}

.photo{
    display: flex;
    align-items: center;
    
    background-size: contain;
    
}
.photo img {
    width: 150px;
    height: 150px;    
    overflow: hidden;
    border-radius: 50%;
}
.photo h4{
    font-size: 35px;
    color: #210440;
    padding-left: 3rem;
}

.btn2{
    background: #fdb095;
    color: #210440;
    width: 30rem;
    border-radius: 30px;
    transition: all 0.25s ease;
    font-size: 5rem;
    margin-left: 3rem;
    margin-top: 3rem;
}
.btn2:hover{
    color: whitesmoke;
    transform: translate(-12px, -12px);

}
.btn2:hover::before{
    
    transform: translate(12px, 12px);
    
}
.btn2:hover::after{
    transform: translate(6px, 6px);
    
}


.logout{
    background: #fdb095;
    color: #210440;
    width: 12rem;
    border-radius: 30px;
    transition: all 0.25s ease;
    float: right;
    justify-content: end;
    font-size: 2rem;
    margin-top: -1rem;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}
.logout:hover{
    color: whitesmoke;
    transform: translate(-12px, -12px);

}
.logout:hover::before{
    
    transform: translate(12px, 12px);
    
}
.logout:hover::after{
    transform: translate(6px, 6px);
    
}

.container2{
    width: 68%;
    /* background: aqua; */
    /* justify-content: space-between; */
    display: flex;
    border-radius: 3rem;
    overflow: hidden;
    
}

.text-l{
    width: 50%;
    padding: 2rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: #fdb095;
    border-color: #210440;
}
.text-l h3{
    color: #210440;
    padding-top: 2rem;
    padding-bottom:0rem ;
}
.text-l img {
    width: 250px;
    height: 300px;
    background-size: contain;
    border-radius: 5%;
    overflow: hidden; 
    position: absolute;

}

.text-r{
    background: #e5958e;
    color: #210440;
    width: 50%;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

.colum{
    display: flex;
    width: 100%;
    margin-top: 0%;
}

.table, tr, td{
    padding: 0.8rem;
} 


.img1{
    position: absolute;
    background-size: contain;
}

.box {
    width: 100%;
    height: 40%;
}
